ion-card {
    position: relative;
    text-align: center;
  }
  
  .card-title {
    position: relative;
    top: 14%;
    font-size: 4.7em;
    width: 100%;
    font-weight: bold;
    color: var(--ion-color-secondary-tint);
    padding-bottom: 40px;
    font-family: lovely;
    left: -24px;
  }
  .title{
    font-size: 2.6em;
    color: var(--ion-color-secondary-tint);
    /* padding-bottom: 40px; */
    font-family: lovely;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
  
  }
  .content {
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 35%;
    z-index: 9999999;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .card-subtitle {
    font-size: 2.5em;
    position: relative;
    top: 6%;
    width: 100%;
    color: #fff;
    font-family: ubuntu;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .card-subtitle2 {
   font-size: 1.5em;
    position: relative;
    top: 38%;
    width: 100%;
    color: #fff;
    font-family: ubuntu;
    font-weight: bold;
    display: flex;
    justify-content: center;
    --border-color: var(--ion-color-secondary-tint) !important;
    width: calc(100% - 20px);
    left: 10px;
  }
  .cardStyle{
    // width: calc(100% - 19px);
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
  }
  .overlay{
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.27);
  }
  .Title_Area{
  
  }
 .list-header{
    font-family: lovely;
    color: var(--ion-color-secondary-tint);
    font-size: 22px;
    border-bottom: solid 1px;
    border-top: solid 1px;
  }
  .end{
    position: absolute;
    right: 12px;
    top: 22px;
    font-size: 35px;
    color: var(--ion-color-secondary-tint);
  }
  ion-slides{
    height: 100% !important;
  }
  .card_quote{
    top: 38%;
    position: relative;
    font-size: 23px;
    font-family: ubuntu;
    color: white;
  }