// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
ion-toolbar{
    --background: var(--ion-color-self,#fb869c) !important;
    --color: white !important;
    --border-color: var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,#c1c4cd)));
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    --padding-end: 4px;
    --min-height: 56px;
    font-family: Source Code Pro !important
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf')format('ttf');
}
@font-face {
  font-family: 'Lovely';
  src: url('./assets/fonts/LovelyHome.ttf');
}

  p{
      font-family: Source Code Pro !important
  }
  ion-content{
    --background:#f0f4f9 !important;
  }
  // ion-title{
  //   font-family: lovely !important;
  // }
  .trans_Butt{
    background:   transparent !important;
    --background-activated:  transparent !important;
    --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    --background:  transparent !important;
    --background-focused:  transparent !important;
      font-family: Source Code Pro !important
  }
