<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon class="end" name="close-circle-outline" expand="icon-only" (click)="closeComp()"></ion-icon>
    </ion-buttons>
    <ion-title text-center text-bold>{{navData.item.title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value={{button.value}} *ngFor="let button of segmentButtons.buttons">
        <ion-card class="dateCard" [ngStyle]="{'background': button.cardImage,'background-size':'cover'}">
          <div class="overlay">
            <!-- <ion-icon name={{button.iconName}}></ion-icon> -->
            <ion-label color="light">{{button.label}}</ion-label>
          </div>

        </ion-card>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *ngIf="scrollValue == 'resort'">
    <ion-item no-padding fixed>
      <ion-searchbar color="danger" mode="ios" placeholder="Search for the best" slot="start" ion-fixed animated>
      </ion-searchbar>
      <ion-icon expand="icon-only" name="options" color="dark" slot="end" no-margin></ion-icon>
    </ion-item>
    <ion-list class="slidesHeight" no-padding>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let parents of parentsImage" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+parents.topImage+')','background-size':'cover'}">
        </ion-slide>
      </ion-slides>
    </ion-list>

    <div>
      <ion-list-header>Resort</ion-list-header>
      <div class="dateSheet">
        <ion-card *ngFor="let dateItem of datesheet" class="dateCard" (click)="selectDate(dateItem)">
          <h3 text-uppercase>{{dateItem.day}}</h3>
        </ion-card>
        <div class="extra">
          <!-- <p></p> -->
        </div>
      </div>
    </div>



    <div *ngFor="let datails of facilities">
      <ion-list-header text-uppercase>{{datails.name}}</ion-list-header>
      <!-- <div class="dateSheet"> -->
      <ion-list>
        <ion-card *ngFor="let dateItem of datails.type" class="cardFacility" (click)="selectDate(dateItem)">
          <ion-item class="cardContent">
            <ion-thumbnail slot="start" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+dateItem.image+')','background-size':'cover'}">
            </ion-thumbnail>
            <ion-label>
              <h2 color="light">{{dateItem.title}}</h2>
              <p>North Indian</p>
              <div class="perPerson_cost">
                <ion-icon name="pin" slot="start" expand="icon-only"></ion-icon>
                <p>100 per person</p>
              </div>
              <div class="status_Live">
                <ion-icon name="pin" slot="start" expand="icon-only"></ion-icon>
                <p>Capacity 150 people</p>
              </div>
              <div class="status_Live">
                <ion-icon name="pin" slot="start" expand="icon-only"></ion-icon>
                <p>Available for booking</p>
              </div>

            </ion-label>
            <ion-note color="secondary">3.5</ion-note>
            <!-- <ion-button size="small" color="secondary" slot="end">3.5</ion-button> -->
          </ion-item>
        </ion-card>
        <!-- <div class="extra">
        </div> -->
      </ion-list>
    </div>


    <ion-list>
      <ion-list-header>Interface Options</ion-list-header>

      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Popover</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="scrollValue == 'banquetHalls'">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let parents of parentsImage" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+parents.topImage+')','background-size':'cover'}">
      </ion-slide>
    </ion-slides>
    <ion-item no-padding>
      <ion-searchbar color="danger" mode="ios" placeholder="Search for the best" slot="start">
      </ion-searchbar>
      <ion-icon expand="icon-only" name="options" color="dark" slot="end" no-margin></ion-icon>
    </ion-item>
    <div>
      <ion-list-header>Resort</ion-list-header>
      <div class="dateSheet">
        <ion-card *ngFor="let dateItem of datesheet" class="dateCard" (click)="selectDate(dateItem)">
          <h3 text-uppercase>{{dateItem.day}}</h3>
        </ion-card>
        <div class="extra">
          <!-- <p></p> -->
        </div>
      </div>
    </div>



    <div *ngFor="let datails of banquetHalls">
      <ion-list-header text-uppercase>{{datails.name}}</ion-list-header>
      <!-- <div class="dateSheet"> -->
      <ion-list>
        <ion-card *ngFor="let dateItem of datails.type" class="cardFacility" (click)="selectDate(dateItem)">
          <ion-item class="cardContent">
            <ion-thumbnail slot="start" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+dateItem.image+')','background-size':'cover'}">
            </ion-thumbnail>
            <ion-label>
              <ion-button fill="outline" size="small" color="danger" text-uppercase font-weight-bold slot="start">
                <span color="light">{{dateItem.title}}</span>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- <div class="extra">
          </div> -->
      </ion-list>
    </div>

    <ion-list>
      <ion-list-header>Interface Options</ion-list-header>
      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Popover</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="scrollValue == 'garden'">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let parents of parentsImage" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+parents.topImage+')','background-size':'cover'}">
      </ion-slide>
    </ion-slides>
    <ion-item no-padding>
      <ion-searchbar color="danger" mode="ios" placeholder="Search for the best" slot="start">
      </ion-searchbar>
      <ion-icon expand="icon-only" name="options" color="dark" slot="end" no-margin></ion-icon>
    </ion-item>
    <div>
      <ion-list-header>Resort</ion-list-header>
      <div class="dateSheet">
        <ion-card *ngFor="let dateItem of datesheet" class="dateCard" (click)="selectDate(dateItem)">
          <h3 text-uppercase>{{dateItem.day}}</h3>
        </ion-card>
        <div class="extra">
          <!-- <p></p> -->
        </div>
      </div>
    </div>



    <div *ngFor="let datails of garden">
      <ion-list-header text-uppercase>{{datails.name}}</ion-list-header>
      <!-- <div class="dateSheet"> -->
      <ion-list>
        <ion-card *ngFor="let dateItem of datails.type" class="cardFacility" (click)="selectDate(dateItem)">
          <ion-item class="cardContent">
            <ion-thumbnail slot="start" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+dateItem.image+')','background-size':'cover'}">
            </ion-thumbnail>
            <ion-label>
              <ion-button fill="outline" size="small" color="danger" text-uppercase font-weight-bold slot="start">
                <span color="light">{{dateItem.title}}</span>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- <div class="extra">
            </div> -->
      </ion-list>
    </div>

    <ion-list>
      <ion-list-header>Interface Options</ion-list-header>
      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Popover</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="scrollValue == 'motel'">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let parents of parentsImage" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+parents.topImage+')','background-size':'cover'}">
      </ion-slide>
    </ion-slides>
    <ion-item no-padding>
      <ion-searchbar color="danger" mode="ios" placeholder="Search for the best" slot="start">
      </ion-searchbar>
      <ion-icon expand="icon-only" name="options" color="dark" slot="end" no-margin></ion-icon>
    </ion-item>
    <div>
      <ion-list-header>Resort</ion-list-header>
      <div class="dateSheet">
        <ion-card *ngFor="let dateItem of datesheet" class="dateCard" (click)="selectDate(dateItem)">
          <h3 text-uppercase>{{dateItem.day}}</h3>
        </ion-card>
        <div class="extra">
          <!-- <p></p> -->
        </div>
      </div>
    </div>



    <div *ngFor="let datails of motel">
      <ion-list-header text-uppercase>{{datails.name}}</ion-list-header>
      <!-- <div class="dateSheet"> -->
      <ion-list>
        <ion-card *ngFor="let dateItem of datails.type" class="cardFacility" (click)="selectDate(dateItem)">
          <ion-item class="cardContent">
            <ion-thumbnail slot="start" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+dateItem.image+')','background-size':'cover'}">
            </ion-thumbnail>
            <ion-label>
              <ion-button fill="outline" size="small" color="danger" text-uppercase font-weight-bold slot="start">
                <span color="light">{{dateItem.title}}</span>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- <div class="extra">
            </div> -->
      </ion-list>
    </div>

    <ion-list>
      <ion-list-header>Interface Options</ion-list-header>
      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Popover</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="scrollValue == 'openAir'">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let parents of parentsImage" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+parents.topImage+')','background-size':'cover'}">
      </ion-slide>
    </ion-slides>
    <ion-item no-padding>
      <ion-searchbar color="danger" mode="ios" placeholder="Search for the best" slot="start">
      </ion-searchbar>
      <ion-icon expand="icon-only" name="options" color="dark" slot="end" no-margin></ion-icon>
    </ion-item>
    <div>
      <ion-list-header>Resort</ion-list-header>
      <div class="dateSheet">
        <ion-card *ngFor="let dateItem of datesheet" class="dateCard" (click)="selectDate(dateItem)">
          <h3 text-uppercase>{{dateItem.day}}</h3>
        </ion-card>
        <div class="extra">
          <!-- <p></p> -->
        </div>
      </div>
    </div>



    <div *ngFor="let datails of openAir">
      <ion-list-header text-uppercase>{{datails.name}}</ion-list-header>
      <!-- <div class="dateSheet"> -->
      <ion-list>
        <ion-card *ngFor="let dateItem of datails.type" class="cardFacility" (click)="selectDate(dateItem)">
          <ion-item class="cardContent">
            <ion-thumbnail slot="start" [ngStyle]="{'background':'linear-gradient(0deg,rgba(88, 87, 88, 0.3),rgba(94, 93, 94, 0.3)),url('+dateItem.image+')','background-size':'cover'}">
            </ion-thumbnail>
            <ion-label>
              <ion-button fill="outline" size="small" color="danger" text-uppercase font-weight-bold slot="start">
                <span color="light">{{dateItem.title}}</span>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- <div class="extra">
            </div> -->
      </ion-list>
    </div>

    <ion-list>
      <ion-list-header>Interface Options</ion-list-header>
      <ion-item>
        <ion-label>Alert</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Popover</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
</ion-content>